{% extends 'origin.html' %}

{% block head %}
{% endblock %}

{% block content %}

        <div class="container-form">

            <form action="" method="POST" class="owner-head" id="addhead">
                {{ form.hidden_tag() }}
                 <div class="form-head">
                    <h2>Enter rcepient of {{ ticket_type }}</h2>
                 </div>
                <div class="fieldset">
                    <div class="short-fields">
                        <div>
                            {{ form.name(class='top-on', id="head", placeholder='Make for...') }}
                        </div>
                        <p class="text-muted">
                            <small>Enter who this {{ticket_type}} is for. Date and ID will automatically be added!</small>
                        </p>
                        <div>
                            {{ form.add(class='btn btn-prime btn-lg') }}
                        </div>
                    </div>
                </div>
            </form>
        </div>
{% endblock %}
