{% extends 'origin.html' %}


{% block content %}
        <div class="container">
              <!-- <div class="alert alert-danger">
                <small> asshole is what you are!</small>
              </div> -->
                {% with messages = get_flashed_messages(with_categories=true) %}
                  {% if messages  %}
                      {% for category, message in messages %}
                        <div class="alert alert-{{category}}" id="alert">
                          <small>{{ message }}</small>
                        </div>
                      {% endfor %}
                  {% endif %}
                {% endwith %}

            <div class="plaque top-radius for-form flat-top">
                <div class="form-type">
                    <h3>Records</h3>
                </div>
                <div class="form">
                    <form class="generator for-search" method="POST">
                      {{ form.hidden_tag() }}
                      <div class="search">
                          {{ form.search_bar(class='top-on', placeholder='search') }}
                      </div>
                        {{ form.search_action(class='search-btn gen-btn btn') }}
                    </form>
                </div>
            </div>

            <table class="main-table">
                  <tr class="heads">
                      <th id="num-col">ID</th>
                      <th>Owner</th>
                      <th>No. Items</th>
                      <th>Total(vat incl)</th>
                      <th>Date</th>
                      <th>Type</th>
                      <th>Status</th>
                  </tr>
                  {% if payload %}
                    {% for item in payload %}
                      <tr>
                        <td id="num-col"><a href="">{{ bucket.index(item)+1 }}</a></td>
                        <td><a href="">{{item.belongs_to}}</a></td>
                        <td>{{item.no_items}}</td>
                        <td>{{item.total_sum}}</td>
                        <td>{{item.issuance_date.date()}}</td>
                        <td>{{ item.form_type }}</td>
                        <td id="table-stat"><div class="status st-sm {{ item.status }}"> {{ item.status }} </div></td>
                      </tr>
                    {% endfor %}
                  {% else %}
                    {% if bucket %}
                        {% for item in bucket %}
                          <tr>
                              <td id="num-col"><a href="">{{ bucket.index(item)+1 }}</a></td>
                              <td><a href="{{ url_for('form_viewer', ticket_id=item.id) }}">{{item.belongs_to}}</a></td>
                              <td>{{item.no_items}}</td>
                              <td>{{item.total_sum}}</td>
                              <td>{{item.issuance_date.date()}}</td>
                              <td>{{ item.form_type }}</td>
                              <td id="table-stat"><div class="status st-sm {{ item.status }}"> {{ item.status }} </div></td>
                          </tr>
                        {% endfor %}
                    {% else %}
                        <h2 style="text-align: center;">there are no forms in your records</h2>
                    {% endif %}
                  {% endif %}
                </table>

            </div>

{% endblock %}
