{% extends 'origin.html' %}

    {% block head %}
        <script defer src="../static/scripts/receipt.js"></script>
    {% endblock %}

    {% block large_btn %}
      <li class="large-btn pre-faux">
        {% if viewer.form_type == 'REC' %}
          <a href="{{url_for('add_head', ticket_type='quote')}}">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="75" height="75" viewBox="0 0 111 111">
              <defs>
                <filter id="Rectangle_70" x="0" y="0" width="111" height="111" filterUnits="userSpaceOnUse">
                  <feOffset dx="3" input="SourceAlpha"/>
                  <feGaussianBlur stdDeviation="7.5" result="blur"/>
                  <feFlood flood-opacity="0.161"/>
                  <feComposite operator="in" in2="blur"/>
                  <feComposite in="SourceGraphic"/>
                </filter>
              </defs>
              <g id="Group_80" data-name="Group 80" transform="translate(-109.5 -1126.5)">
                <g transform="matrix(1, 0, 0, 1, 109.5, 1126.5)" filter="url(#Rectangle_70)">
                  <rect id="Rectangle_70-2" data-name="Rectangle 70" width="66" height="66" rx="10" transform="translate(19.5 22.5)"/>
                </g>
                <path id="Union_3" data-name="Union 3" d="M13.778,32V18.222H0V13.778H13.778V0h4.445V13.778H32v4.444H18.222V32Z" transform="translate(146 1166)" fill="#fff"/>
              </g>
            </svg>
          </a>

        <p><small> make qoute</small></p>
        {% else %}
          <a href="{{url_for('add_head', ticket_type='receipt')}}">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="75" height="75" viewBox="0 0 111 111">
                <defs>
                  <filter id="Rectangle_70" x="0" y="0" width="111" height="111" filterUnits="userSpaceOnUse">
                    <feOffset dx="3" input="SourceAlpha"/>
                    <feGaussianBlur stdDeviation="7.5" result="blur"/>
                    <feFlood flood-opacity="0.161"/>
                    <feComposite operator="in" in2="blur"/>
                    <feComposite in="SourceGraphic"/>
                  </filter>
                </defs>
                <g id="Group_80" data-name="Group 80" transform="translate(-109.5 -1126.5)">
                  <g transform="matrix(1, 0, 0, 1, 109.5, 1126.5)" filter="url(#Rectangle_70)">
                    <rect id="Rectangle_70-2" data-name="Rectangle 70" width="66" height="66" rx="10" transform="translate(19.5 22.5)"/>
                  </g>
                  <path id="Union_3" data-name="Union 3" d="M13.778,32V18.222H0V13.778H13.778V0h4.445V13.778H32v4.444H18.222V32Z" transform="translate(146 1166)" fill="#fff"/>
                </g>
              </svg>
          </a>
          <p><small>make receipt</small></p>
        {% endif %}
      </li>
    {% endblock %}

    {% block content %}
    <div class="container">
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages  %}
          {% for category, message in messages %}
            <div class="alert alert-{{category}}" id="alert">
              <small>{{ message }}</small>
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}


            <div class="plaque top-radius for-form">
                    <div class="form-type">
                      {% if viewer.form_type == 'REC' %}
                        <h3>Receipt</h3>
                      {% else %}
                        <h3>Quotation</h3>
                      {% endif %}
                          <li id="form-dropdown">
                              <a href="#"  id="">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 28 28">
                                    <g id="Group_79" data-name="Group 79" transform="translate(-662 -226)">
                                      <g id="Group_13" data-name="Group 13" transform="translate(-1148 -89)">
                                        <g id="Ellipse_4" data-name="Ellipse 4" transform="translate(1810 315)" fill="none" stroke-width="3">
                                          <circle cx="14" cy="14" r="14" stroke="none"/>
                                          <circle cx="14" cy="14" r="12.5" fill="none"/>
                                        </g>
                                      </g>
                                      <path id="Path_29" data-name="Path 29" d="M17.953,9.354l-4.73,4.73-4.73-4.73a1.215,1.215,0,1,0-1.719,1.719l5.6,5.6a1.214,1.214,0,0,0,1.719,0l5.6-5.6a1.214,1.214,0,0,0,0-1.719A1.24,1.24,0,0,0,17.953,9.354Z" transform="translate(662.582 228.557)"/>
                                    </g>
                                  </svg>


                              </a>
                              <ul class="dropdown" id=trop-menu>
                                  <li class="dropdown-item">
                                      <!-- <a href="{{ url_for( 'draftify',  ticket_pseudo_id=viewer.pseudo_id ) }}">cancel</a> -->
                                      <a href="{{ url_for( 'index' ) }}">cancel</a>
                                  </li>

                                  <li class="dropdown-item">
                                      <a href="{{url_for('delete_form', ticket_pseudo_id=viewer.pseudo_id)}}">delete</a>
                                  </li>
                              </ul>
                          </li>
                    </div>
                <div class="form editor">
                    <form action="" class="" method="POST">
                        {{ form.hidden_tag() }}
                        <div class="generator">
                            <div>
                                {{ form.item_name(class='top-on', id="item-name", placeholder='item name') }}
                            </div>

                            <div class="q-n-p">
                                {{ form.item_quantity(class='top-on', id="item-quantity", placeholder='Quantity') }}

                                {{ form.unit_price(class='top-on', id="unit_price", placeholder='Unit Price') }}
                            </div>

                            {{ form.add(class='btn btn-prime gen-btn') }}
                        </div>
                    </form>

                </div>

            </div>

            <div class="plaque meta-bar for-form">
                <div class="meta">
                        <div class="form-owner">
                            <p>{{ viewer.belongs_to }}</p>
                        </div>

                        <div class="meta-meta">
                            <div class="form-id">
                                <h2>{{ viewer.pseudo_id }}</h2>
                            </div>
                            <div class="status {{ viewer.status }}">
                                <small>{{ viewer.status }}</small>
                            </div>

                            <div class="date">
                                <small>{{ viewer.issuance_date.date() }}</small>
                            </div>
                        </div>
                    </div>
            </div>

                <table class="main-table">
                  <tr class="heads">
                      <th id="num-col">#</th>
                      <th>Item</th>
                      <th>Quantity</th>
                      <th>Unit Price</th>
                      <th>Price</th>
                      <th></th>
                  </tr>
                  {% if resources %}
                    {% for item in resources %}
                      <tr>
                          <td id="num-col">{{ resources.index(item) + 1 }}</td>
                          <td>{{item.item_name}}</td>
                          <td>{{item.item_quantity}}</td>
                          <td>{{item.unit_price}}</td>
                          <td>{{item.total_price}}</td>
                          <td><a href="{{url_for('delete_item', item_id=item.id)}}"><img src="/static/media/del.png" class="del" =""></a></td>
                      </tr>
                    {% endfor %}
                    <tr id="vat">
                          <td></td>
                          <td></td>
                          <td></td>
                          <td>vat 4%</td>
                          <td>{{viewer.vat}}</td>
                          <td></td>
                      </tr>
                      <tr id="total">
                          <td></td>
                          <td></td>
                          <td></td>
                          <td>Total</td>
                          <td>{{viewer.total_sum}}</td>
                          <td></td>
                      </tr>
                  {% else %}
                      <h2 style="text-align: center;">no items have been added to this form yet</h2>
                  {% endif %}
                </table>
                {% if resources %}
                    <div class="btn-group">
                           <a type="submit" href="{{ url_for( 'draftify', ticket_pseudo_id=viewer.pseudo_id) }}" class="btn btn-sec">Save draft</a>
                            <a class="btn btn-prime" href="{{url_for('complete_form', ticket_id=viewer.id) }}">Continue</a>
                      </div>
                {% endif %}
    </div>
{% endblock %}
