{% extends 'origin.html' %}

    {% block head %}
        <script defer src="../static/scripts/receipt.js"></script>
    {% endblock %}

    {% block content %}
    <div class="container">

      <div class="form-type">
        {% if viewer.form_type == 'REC' %}
          <h3>Receipt</h3>
        {% else %}
          <h3>Quotation</h3>
        {% endif %}
      </div>

            <div class="plaque top-radius for-form">
                <div>
                    <li id="form-dropdown">
                        <a href="#" class="caret" id="caret">

                        </a>
                        <ul class="dropdown" id=trop-menu>
                            <li class="dropdown-item">
                                <a href="{{ url_for( 'draftify',  ticket_pseudo_id=viewer.pseudo_id ) }}">cancel</a>
                            </li>

                            <li class="dropdown-item">
                                <a href="{{url_for('delete_form', ticket_pseudo_id=viewer.pseudo_id)}}">delete</a>
                            </li>
                        </ul>
                    </li>
                </div>

                <div class="form editor">
                    <form action="" class="" method="POST">
                        {{ form.hidden_tag() }}
                        <div class="generator">
                            <div>
                                {{ form.item_name(class='top-on', id="item-name", placeholder='item name') }}
                            </div>

                            <div class="q-n-p">
                                {{ form.item_quantity(class='top-on', id="item-quantity", placeholder='Quantity') }}

                                {{ form.unit_price(class='top-on', id="unit_price", placeholder='Unit Price') }}
                            </div>

                            {{ form.add(class='btn btn-prime gen-btn') }}
                        </div>
                    </form>

                </div>

            </div>

            <div class="plaque meta-bar for-form">
                <div class="meta">
                        <div class="form-owner">
                            <p>{{ viewer.belongs_to }}</p>
                        </div>

                        <div class="meta-meta">
                            <div class="form-id">
                                <h2>{{ viewer.pseudo_id }}</h2>
                            </div>
                            <div class="status {{ viewer.status }}">
                                <small>{{ viewer.status }}</small>
                            </div>

                            <div class="date">
                                <small>{{ viewer.issuance_date.date() }}</small>
                            </div>
                        </div>
                    </div>
            </div>

                <table class="main-table">
                  <tr class="heads">
                      <th id="num-col">#</th>
                      <th>Item</th>
                      <th>Quantity</th>
                      <th>Unit Price</th>
                      <th>Price</th>
                  </tr>
                  {% if resources %}
                    {% for item in resources %}
                      <tr>
                          <td id="num-col">{{ resources.index(item) + 1 }}</td>
                          <td>{{item.item_name}}</td>
                          <td>{{item.item_quantity}}</td>
                          <td>{{item.unit_price}}</td>
                          <td>{{item.total_price}}</td>
                          <td><a href="{{url_for('delete_item', item_id=item.id)}}"><img src="/static/media/del.png" class="del" =""></a></td>
                      </tr>
                    {% endfor %}
                    <tr id="vat">
                          <td></td>
                          <td></td>
                          <td></td>
                          <td>vat 4%</td>
                          <td>{{viewer.vat}}</td>
                          <td></td>
                      </tr>
                      <tr id="total">
                          <td></td>
                          <td></td>
                          <td></td>
                          <td>Total</td>
                          <td>{{viewer.total_sum}}</td>
                          <td></td>
                      </tr>
                  {% else %}
                      <h2 style="text-align: center;">no items have been added to this form yet</h2>
                  {% endif %}
                </table>
                {% if resources %}
                    <div class="btn-group">
                           <a type="submit" href="{{ url_for( 'draftify', ticket_pseudo_id=viewer.pseudo_id) }}" class="btn btn-sec">Save draft</a>
                            <a class="btn btn-prime" href="{{url_for('complete_form', ticket_id=viewer.id) }}">Continue</a>
                      </div>
                {% endif %}
            </div>
{% endblock %}
